
  
    <p>
      <b>Commenter:</b>
      <%=h comment.name %> </b>
      <%=h comment.email %>
    </p>

    <p>
      <b>Comment:</b>
      <%=h comment.text %> </b>
      <%=h comment.created_at.strftime('%b %d, %Y') %>
    </p>
    

