
<div class="section">
   <div><img src="/images/congo.gif" width="150" height="100"></div>
	<h2> Les objectifs de CCS </h2>
  <ul id="feeds">
    <li>Publier les nouvelles et analyses sur le Congo</li>
    <li>Mener, promouvoir et diffuser les recherches sur le Congo  </li>
    <li>Servir d'un repositoire de la documentation electronique sur le Congo </li>
    <li>Entreprendre des plaidoyeries en faveur du Congo  </li>
  </ul>
</div>
<h2> CCS' vision and mission   </h2>
<div>
  <ul id="feeds">
    <li> A travers recherches et plaidoiries, contribuer a la prosperite du Congo</li>

  </ul>
</div>
<%= render :partial => 'shared/navigation' %>


   <h2>Organisations partenaires</h2>
  <div class="section">
  <ul id="feeds">
    <li> </li>
    <li> </li>
    <li></li>
    <li></li>
  </ul>
</div>