<div class="section">
   <div><img src="/images/congo.gif" width="150" height="100"></div>
	<h2> CCS' objectives  </h2>
  <ul id="feeds">
    <li>Publish news and analysis on the Congo</li>
    <li>Conduct, promote and disseminate research on the Congo </li>
    <li>Archive written and oral materials on the Congo </li>
    <li>Undertake policy advocacy </li>
  </ul>
</div>
<h2> CCS' vision and mission   </h2>
<div>
  <ul id="feeds">
    <li> Through research and policy advocacy, strive for a better Congo</li>
    
  </ul>
</div>
