<div class="section">
   <h2> FOCAS's objectives </h2>
  <ul id="feeds">
    <li>Promoting peace and stability in the DR. Congo</li>
    <li>Promoting and protecting human rights </li>
    <li>Advocating and lobbying for good governance in the DR.Congo</li>
    <li>Promoting community development in the DR. Congo</li>
  </ul>
</div>
<h2> FOCAS's vision and mission  </h2>
<div>
  <ul id="feeds">
    <li> To be a focal point for advocacy and lobbying around Congolese issues in the SADC region</li>
    <li> Through networking and lobbying, engage in initiatives that strive for stability and prosperity of the Congo</li>
  </ul>
</div>
<%= render :partial => 'shared/navigation' %>


   <h2>Partner organisations</h2>
  <div class="section">
  <ul id="feeds">
    <li>Open Society for Southern Africa </li>
    <li>Congress of South African trade unions </li>
    <li>Human Rights Institute of Southern Africa </li>
    <li>Kara Heritage Institute </li>
  </ul>
</div>