<div class="section">
  <ul id="feeds">
    <li><a href="http://feeds.feedburner.com/railscasts"><%= image_tag 'icons/feed.gif', :alt => 'RSS Feed', :size => '16x16' %> RSS Feed</a></li>
    <li><a href="http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewPodcast?id=218282043"><%= image_tag 'icons/itunes.gif', :alt => 'On iTunes', :size => '16x16' %> on iTunes</a></li>
  </ul>
</div>
<%= render :partial => 'shared/navigation' %>

<div class="section">
  <strong>required:</strong><br />
  <div class="badge"><a href="http://www.apple.com/quicktime/download/"><img src="/images/quicktime.gif" width="88" height="31" alt="Get Quicktime Player" /></a></div>
</div>
