
<h1> Bibliotheque Digitale  </h1>
<div id="text">
  Le Centre d'Etudes sur le Congo (CCS) s'emploie a archiver documents, articles, publications sur le Congo. Tout ceci sera librement accessible a tout le monde.
</div>