<h1> Nous Soutenir   </h1>
<div id="text">
  Vous pouvez nous soutenir de plusieurs manieres:
  <ul>
    <li> Faites un don directement a CCS  </li>
    <li> Commissionnez un des nos services comme la traduction, la recherche, et le developpement des sites webs dynamiques </li>
  </ul>

</div>
